{% if page.organizer %}
<a href="https://ellismadrid.es/"><img id='ellis_logo' class="img-fluid" src="/assets/img/logos/ellis_madrid.png" alt="Ellis Madrid"
        style="margin: 10px 10px 10px 10px;"></a>

<a href="https://kenkennedy.rice.edu/"><img id='kki_logo' class="img-fluid" src="/assets/img/logos/kki_logo.png" alt="Ken Kennedy Institute"
        style="margin: 10px 10px 10px 10px; max-height: 80px;"></a>

<a href="https://www.comunidad.madrid/"><img id='cam_logo' class="img-fluid" src="/assets/img/logos/logoCAM.png" alt="Comunidad de Madrid"
        style="margin: 10px 10px 10px 10px; max-height: 80px;"></a>

{% endif %}